#profile_picture{
    display: none;
}

.custom-file-upload{
    color: #000;
    border-radius: 5px;
    width: 100px;
    background-color: #ffffff;
    display: inline-block;
    padding: 1px 6px;
    cursor: pointer;
}

#profilePictureFileName{
    display: -webkit-box;
    --webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 200px;
}