.userBox
{
    border: 1px solid rgb(68, 68, 68);
}
.userInfo
{
    
}

.profileImage
{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;

    border: 1px solid white;
  
    object-fit: cover;
}